## Feature Selection Techniques

In [1]:
import pandas as pd
import numpy as np

# view all rows
pd.set_option('display.max_columns', None)

### Removing Constant Features

The first feature selection technique involves indicating the constant features. This is done using *Variance Threshold* from sklearn. This works for numeric columns but we can one-hot encode the categorical variables. Let's test this out. Our data set has 3 variables that are constant variables.

In [3]:
# bring in our data set
data = pd.read_csv('data/data_eda.csv')

In [4]:
data.head()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,country,state,zip,day,month,year,weekday
0,0,376000.0,3.0,2.00,1340,1384,3.0,0,0,3,1340,0,2008,0,Seattle,USA,WA,98103,9,5,2014,Friday
1,1,800000.0,4.0,3.25,3540,159430,2.0,0,0,3,3540,0,2007,0,Carnation,USA,WA,98014,9,5,2014,Friday
2,3,324000.0,3.0,2.25,998,904,2.0,0,0,3,798,200,2007,0,Seattle,USA,WA,98117,9,5,2014,Friday
3,4,549900.0,5.0,2.75,3060,7015,1.0,0,0,5,1600,1460,1979,0,Seattle,USA,WA,98146,10,5,2014,Saturday
4,5,320000.0,3.0,2.50,2130,6969,2.0,0,0,3,2130,0,2003,0,Maple Valley,USA,WA,98038,10,5,2014,Saturday

In [18]:
# these columns have only 1 value so they are constant and can be dropped from the data.
col = list(data.columns)
for col in data[col]:
    unique = len(data[col].unique())
    if unique == 1:
        print(col)

country
state
year